<%- include("templates/header") %>
    <% if (!username) { %>
        <a href='/signup' class="btn btn-success">Sign up</a><br>
        <a href='/login' class="btn btn-secondary">Log in</a>
    <% } else { %>
        Hello, <%= username %>!<br>
        <a href='/members' class="btn btn-primary">Go to Members Area</a><br>
        <a href='/logout' class="btn btn-danger">Logout</a>
    <% } %>
<%- include("templates/footer") %>