<%- include("templates/header") %>
    <% if (!username) { %>
        <a href='/signup'><button>Sign up</button></a><br>
        <a href='/login'><button>Log in</button></a>
    <% } else { %>
        Hello, <%= username %>!<br>
        <a href='/members'><button>Go to Members Area</button></a><br>
        <a href='/logout'><button>Logout</button></a>
    <% } %>
<%- include("templates/footer") %>