<%- include("templates/header") %>
    Log In
    <form action='/loginSubmit' method='post'>
            <input name='email' type='email' placeholder='Email'><br>
            <input name='password' type='password' placeholder='Password'><br>
            <button class="btn btn-warning">Submit</button>
    </form>
<%- include("templates/footer") %>